<div class="background-texture">
  <div class="dumb-h3 center container">
    <h3>Those I'm following and their Activity</h3>
  </div>
  <% @following_activity.each do |messages| %>
  <%= messages[:nickname] %>
  <ul>
    <li><% messages[:commits].each do |message|%>
      <%= message %></br>
      <% end %></li>
    </ul>
    <% end %>
</div>
