<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">Welcome to Github Curious</h1>
    <h2 class="home">Where I try to figure some stuff out with the Github API</h2>
    <%= link_to "Login with Github", "/auth/github", class: "btn btn-lg btn-default btn-home" %>
  </div>
  <div class="col-md-2"></div>
</div>
