.gravatar {
  max-width: 200px;
  max-height: 200px;
  display: inline-block;
  border-radius: 6px;
}

.navbar {
  margin-bottom: 0px;
  border: 0px;
  box-shadow: 5px 5px 7px #403D3D;
}

.navbar-custom {
  background-color: #1730D1;
  border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
  color: #F8BB44;
}

.navbar-custom .navbar-nav > li > a:hover {
  opacity: 0.4;
}

.navbar-custom .navbar-brand {
  color: #F8BB44;
}

.navbar-custom .navbar-brand:hover {
  opacity: 0.4;
}

.container-home {
  min-height: 100vh;
  // padding-top: 30px;
  text-align: center;
}

.home {
  color: white;
  font-weight: 100;
  font-size: 100;
}

.dumb-h3 h3 {
  margin-top: 0px;
}

h1.home {
  font-size: 60px;
  font-weight: 400;
  color: #F8BB44;
}

h2.home {
  font-size: 30px;
  font-weight: 200;
  color: white;
}

a.btn.btn-lg.btn-default.btn-home {
  background-color: transparent;
  border-width: 3px;
  color: #4C125C;
  font-weight: 300;
  border-color: #4C125C;
  margin-top: 20px;
}

a.btn.btn-lg.btn-default.btn-home:hover {
  opacity: 0.4;
}

.dashboard-header {
  margin-bottom: 50px;
}

.background-texture {
  background: url('/assets/paper_fibers.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.background-image {
  background: url("background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
